/* Mobile + Tablet */
@media (min-width: 0px) and (max-width: 1023px) {
    .nav__bar_btn {
        display: block;
        position: absolute;
        right: 0;
        margin: 9px 12px 10px 0;
    }

    .header-nav-pc {
        display: none;
    }

    .header {
        height: 50px;
    }

    .logo {
        display: none;
    }
    
    .header-slide {
        top: 50px;
    }

}

/* Tablet */
@media (min-width:740px) and (max-width: 1023px) {

}

/* Mobile */
@media (max-width: 739px) {
    .header-slide-orientation-left,
    .header-slide-orientation-right {
        width: 40px;
    }

    .header-slide-orientation-left-icon,
    .header-slide-orientation-right-icon {
        
    }

    .food-img {
        padding-top: 40%;
    }

    .food-end {
        margin: 10px 50px;
    }

    .food-bestseller {
        left: 30%;
    }

    .form-reserve {
        width: 100%;
        left: 0;
    }

    .reviews {
        margin-top: 330px;
    }

    .footing {
        padding: 0 15px;
    }
}